<h1>Journal Control</h1>
<p>Add flags to journalctl (ex. -b) which gets journal from last boot</p>
<%= form_tag("/search", method: "get") do %>
	<p>
		<%= select_tag(:flag, options_for_select(@flags)) %>
		<%= select_tag(:unit, options_for_select(@units), :style=>"display:none") %>
		<%= submit_tag("Search") %>
	</p>
<% end %>

<table class="table">
	<% @journalrows.each do |row| %>
		<tr>
			<td><%= row %></td>
		</tr>
	<% end %>
</table>

<script>
	$(function() {
		$("#flag").change(function() {
			$("#unit").hide();
			if ($(this).val() == "-u") {
				$("#unit").show();
			}
		});
	});
</script>
